<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717800633688-1k8frv3onegui0cue97r17ng1r21jp3t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717800633688-1k8frv3onegui0cue97r17ng1r21jp3t</string>
	<key>API_KEY</key>
	<string>AIzaSyDT4M2f-s5BMHBkNv82y_9egEdDcCAyfZA</string>
	<key>GCM_SENDER_ID</key>
	<string>717800633688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>cop-34068</string>
	<key>STORAGE_BUCKET</key>
	<string>cop-34068.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717800633688:ios:17a730dc4d3beb909c212d</string>
</dict>
</plist>